footer.container_9
	.footer__block
		.block
			img.first(src="image/logo.png", alt="tajam", class='logo')
			p.first Lorem ipsum dolor 
			p.first Lorem ipsum dolor sit amet
			p.first Lorem ipsum dolor sit ame
			p.first Lorem ipsum
		.block2
			h5 our studio
			img.second(src='https://png.icons8.com/monitor/ios7/50', title='Монитор', width='50', height='50')
			p.first  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			img.second(src='https://png.icons8.com/monitor/ios7/50', title='Монитор', width='50', height='50')
			p.first +30953066003
		.block3
			h5 stay in touch
			p.input
				input(type='search', name='q', )
				input(type='image', src='https://png.icons8.com/sent/ios7/25', title='Sent', width='25', height='25')
			.social
				img(src='https://png.icons8.com/facebook-circled/ios7/32', title='Facebook Circled', width='32', height='32')
				img(src='https://png.icons8.com/instagram/androidL/24', title='Instagram', width='24', height='24')
				img(src='https://png.icons8.com/google-plus/androidL/24', title='Google Plus', width='24', height='24')
				img(src='https://png.icons8.com/youtube/p1em/32', title='YouTube', width='32', height='32')



