section.works
	.container_5
		.works__content
			h3 our works
			p  Lorem ipsum dolor sit amet >
		.works__img
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
		.works_img2
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
			img(src="", alt="")
		.works__btn
			a(class='button',href='#') load more