section.history
	.container_1
		.img__history
		img(src="image/logo.png", alt="")
		.story
			h3 our story
			p.story  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim possimus at animi optio, corporis, aliquid odit consectetur. Saepe totam sequi dolores corrupti, eius, dolorem doloremque, vitae repellat esse quia eaque.
			br
			p.story  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni vero, dolorum dicta distinctio. Atque natus tempora ad facilis recusandae ea non, voluptates vel impedit inventore id adipisci consequatur doloremque deserunt.
			a(class='button',href='#') learn more