section.expert
	.container_3
		.expertise
			h3 Expertise
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		.icons
			.developert
				img(src='https://png.icons8.com/monitor/ios7/50', title='Монитор', width='50', height='50')
				h5 web desing developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, 
			.brend
				img(src='https://png.icons8.com/paint-brush/Dusk_Wired/64', title='Кисть', width='64', height='64', <='', body='')
				h5 web desing  developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis,  
			.mobileapp
				img(src='https://png.icons8.com/cell-phone/Dusk_Wired/64' title='Сотовый телефон', width='64', height='64', <='', body='')
				h5 web desing developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis,
		.icons2
			.optimization
				img(src='https://png.icons8.com/pie-chart/ios11/60', title='Круговая диаграмма', width='60', height='60')
				h5 web desing  developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis,
			.game
				img(src='https://png.icons8.com/visual-game-boy/Dusk_Wired/64', title='Визуальный Game Boy', width='64', height='64')
				h5 web desing  developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, 
			.love
				img(src='https://png.icons8.com/heart/androidL/64', title='Сердце', width='64', height='64')
				h5 web desing  developert
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, blanditiis, 
		