section__amazing
	.container_4
		.amazing__team
			h3 meet our amazing team
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.team
			.team_1
				img(src="", alt="")
				.team_text
					h5 pinocio
					p Lorem ipsum dolor 
			.team_2
				img(src="", alt="")
				.team_text
					h5 rembo
					p Lorem ipsum dolor
			.team_3
				img(src="", alt="")
				.team_text
					h5 chack noris
					p Lorem ipsum dolor
			.team_4
				img(src="", alt="")
				.team_text
					h5 vandam
					p Lorem ipsum dolor
		.btn__team
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		.btn 
			a(class='button',href='#') we are hiring